#ComponentTwo {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 10px;
  background-color: #ececec;
  margin-bottom: 3px;

  h5 {
    border-bottom: 3px solid #555;
    width: auto;
    display: inline-block;
    clear: both;
  }

  input {
    display: block;
  }

  .box {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 10px 0 0;
  }
}